
# --- BACKEND ---
Backend/**/bin/
Backend/**/obj/
Backend/**/*.user
Backend/**/*.suo
Backend/**/*.userosscache
Backend/**/*.sln.docstates
Backend/**/*.nupkg
Backend/**/packages/
Backend/**/TestResults/
Backend/**/*.swp
Backend/**/*.tmp
Backend/**/*.bak
Backend/**/*.orig
Backend/**/*.rej
Backend/.idea/
Backend/**/*.sln.iml
Backend/FileCloud.API/Uploads/
Backend/elmah.xml
Backend/elmah-errors.xml

# --- FRONTEND ---
Frontend/filecloud.web/node_modules/
Frontend/filecloud.web/.pnp
Frontend/filecloud.web/.pnp.*
Frontend/filecloud.web/.yarn/*
!Frontend/filecloud.web/.yarn/patches
!Frontend/filecloud.web/.yarn/plugins
!Frontend/filecloud.web/.yarn/releases
!Frontend/filecloud.web/.yarn/versions
Frontend/filecloud.web/coverage/
Frontend/filecloud.web/.next/
Frontend/filecloud.web/out/
Frontend/filecloud.web/build/
Frontend/filecloud.web/.DS_Store
Frontend/filecloud.web/*.pem
Frontend/filecloud.web/npm-debug.log*
Frontend/filecloud.web/yarn-debug.log*
Frontend/filecloud.web/yarn-error.log*
Frontend/filecloud.web/.pnpm-debug.log*
Frontend/filecloud.web/.env*
Frontend/filecloud.web/.vercel
Frontend/filecloud.web/*.tsbuildinfo
Frontend/filecloud.web/next-env.d.ts
