@import "tailwindcss";

:root {
  --background: #E3E0E0;
  --foreground: #e3e0e0;
}

@theme inline {
  --color-primary: #5A4B55;
  --color-secondary: #A69289;
  --color-accent: #D1B2A1;
  --color-background: #E3E0E0;
  --color-surface: #EAEAEA;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--color-secondary);
  font-family: Arial, Helvetica, sans-serif;
}
